/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* /CSS reset */
@font-face {
  font-family: poppins;
  src: url(../fonts/poppins-v15-latin-regular.woff2);
}
@font-face {
  font-family: poppins-bold;
  src: url(../fonts/poppins-v15-latin-600.woff2);
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

hr {
  margin: 0;
}

.logo {
  margin: 10px auto 10px 10px;
}

.phone-box {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 30px;
}

.phone-box img {
  /* makes the image wrap to the box size set in .phone box */
  width: 100%;
  height: auto;
}

.burger-box {
  background-color: black;
  border-radius: 3px;
  color: white;
  display: grid;
  justify-content: center;
  margin-right: 25px;
  width: 50px;
  height: 50px;
  margin-top: 19px;
}

.burger {
  grid-row-start: 1;
  grid-row-end: 1;
  filter: invert(100%);
  width: 50px;
}

.search {
  width: 99%;
  height: 47px;
  background-color: lightgrey;
  border: solid 2px darkgrey;
  margin-left: 5px;
}

.header-flex {
  display: flex;
  justify-content: space-around;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333645;
  position: relative;
  height: 99px;
}

.bar-wrapper {
  display: flex;
  align-items: flex-start;
  font-family: poppins;
}

.child-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 99px;
  border-right: 0.5px solid #666;
  border-left: 0.5px solid black;
  color: white;
  padding: 15px;
}

.left-child {
  height: 99px;
  border-right: 0.5px solid #666;
}

.right-child {
  height: 99px;
  border-right: 0.5px solid black;
}

.table {
  display: table;
  margin: 0 auto;
  width: 100vw;
}

.bar-tt {
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 10;
}

.horizontal-list {
  display: none;
  list-style: none;
  text-transform: uppercase;
}
.horizontal-list li {
  display: inline;
  font-size: 16px;
  line-height: 45px;
  letter-spacing: 0.4;
}

.sml-txt, .lrg-txt {
  text-transform: uppercase;
  letter-spacing: 0.4px;
  line-height: 18px;
}

.sml-txt {
  font-size: 10px;
}

.lrg-txt {
  font-size: 18px;
}

#web-bar-anchor:hover .bar-child {
  background-color: #926fb1;
}
#web-bar-anchor:hover #web-icon {
  color: white;
}
#web-bar-anchor:hover #web-list {
  display: block;
  align-items: center;
  width: 100%;
  background-color: #79539a;
  text-align: center;
}

#it-bar-anchor:hover .bar-child {
  background-color: #4183d7;
}
#it-bar-anchor:hover #it-icon {
  color: white;
}
#it-bar-anchor:hover #it-list {
  display: block;
  align-items: center;
  width: 100%;
  background-color: #286abd;
  text-align: center;
}

#tele-bar-anchor:hover .bar-child {
  background-color: #D64541;
}
#tele-bar-anchor:hover #tele-icon {
  color: white;
}
#tele-bar-anchor:hover #tele-list {
  display: block;
  align-items: center;
  width: 100%;
  background-color: #bc2c28;
  text-align: center;
}

#bespoke-bar-anchor:hover .bar-child {
  background-color: #67809F;
}
#bespoke-bar-anchor:hover #bespoke-icon {
  color: white;
}
#bespoke-bar-anchor:hover #bespoke-list {
  display: block;
  align-items: center;
  width: 100%;
  background-color: #526781;
  text-align: center;
}

#cyber-bar-anchor:hover .bar-child {
  background-color: #F62459;
}
#cyber-bar-anchor:hover #cyber-icon {
  color: white;
}
#cyber-bar-anchor:hover #cyber-list {
  display: block;
  align-items: center;
  width: 100%;
  background-color: #de093f;
  text-align: center;
}

#digi-bar-anchor:hover .bar-child {
  background-color: #2ecc71;
}
#digi-bar-anchor:hover #digi-icon {
  color: white;
}
#digi-bar-anchor:hover #digi-list {
  display: block;
  align-items: center;
  width: 100%;
  background-color: #25a25a;
  text-align: center;
}

#web-icon {
  color: #926fb1;
}

#it-icon {
  color: #4183d7;
}

#tele-icon {
  color: #D64541;
}

#bespoke-icon {
  color: #67809F;
}

#digi-icon {
  color: #2ecc71;
}

#cyber-icon {
  color: #F62459;
}

.carousel {
  font-family: poppins;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.caro-title {
  text-transform: uppercase;
  font-size: 48px;
  margin: 0px 0px 25px;
}

.text-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caro-p {
  margin: 0px 0px 35px;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.4px;
}

.caro-link {
  background-color: #926fb1;
  text-transform: uppercase;
  color: white;
  margin: auto;
  width: 225px;
  padding: 20px;
  border-radius: 5px;
}

.fa-arrow-right {
  margin-right: -10px;
  margin-left: 8px;
  font-size: 1.2rem;
}

#caro-link1 {
  background-color: #926fb1;
}

#caro-link2 {
  background-color: #4183d7;
}

#caro-link3 {
  background-color: #D64541;
}

#caro-link4 {
  background-color: #67809F;
}

#caro-link5 {
  background-color: #2ecc71;
  width: 350px;
}

#caro-link6 {
  background-color: #F62459;
}

.caro-link:hover {
  filter: brightness(85%);
}

#caro1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/carousel/web-design.jpg);
}

#caro2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/carousel/it-support.jpg);
}

#caro3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/carousel/telecoms-services.jpg);
}

#caro4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/carousel/bespoke-software.jpg);
}

#caro5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/carousel/digital-marketing.jpg);
}

#caro6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/carousel/cyber-security.jpg);
}

/* Combinant Selectors */
#caro1,
#caro2,
#caro3,
#caro4,
#caro5,
#caro6 {
  height: 1020px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
}

.anchor-wrapper {
  margin: 30px 0 0;
}

.info-boxes {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.info-anchor {
  flex: 1;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  padding-left: 15px;
  padding-right: 15px;
}

.info-box {
  font-family: poppins;
  color: black;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 35px;
  border: 1px solid #DDD;
  width: auto;
  max-width: 720px;
  border-radius: 3px;
}

.info-icon {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  flex: 1;
  flex-basis: 100%;
  margin-bottom: 15px;
  text-align: center;
  font-style: normal;
  font-size: 18px;
  line-height: 19.8px;
}

.break {
  width: 50px;
  fill: black;
  height: 1px;
}

.line {
  margin: 0px;
}

.text-span {
  text-align: center;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
  flex-basis: 100%;
}

.rule {
  background-color: black;
  width: 28px;
  height: 3px;
  margin-bottom: 10px;
}

.read-more {
  flex: 0.2;
  flex-basis: 10%;
  height: 45px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 35px;
  letter-spacing: 0.4;
  text-transform: uppercase;
  color: white;
}

.anchor-wrapper .read-more:hover {
  filter: none;
}

.read-text {
  white-space: nowrap;
  padding: 15px;
}

.fa-chart-bar,
.fa-desktop,
.fa-code,
.fa-graduation-cap {
  color: white;
  font-size: 1.4rem;
}

.fa-phone,
.fa-shield-alt {
  color: white;
  font-size: 1.3rem;
}

.fa-th {
  color: white;
  font-size: 1.2rem;
}

#info-icon1, #read-more1 {
  background-color: #67809F;
}

#info-icon2, #read-more2 {
  background-color: #4183d7;
}

#info-icon3, #read-more3 {
  background-color: #2ecc71;
}

#info-icon4, #read-more4 {
  background-color: #D64541;
}

#info-icon5, #read-more5 {
  background-color: #926fb1;
}

#info-icon6, #read-more6 {
  background-color: #F62459;
}

#info-icon7, #read-more7 {
  background-color: #926fb1;
}

#bespoke-anchor:hover .info-box {
  background-color: #67809F;
  color: white;
}
#bespoke-anchor:hover .rule {
  background-color: white;
}
#bespoke-anchor:hover #info-icon1, #bespoke-anchor:hover #read-more1 {
  background-color: white;
  color: #67809F;
}
#bespoke-anchor:hover .fa-th {
  color: #67809F;
}

#it-anchor:hover .info-box {
  background-color: #4183d7;
  color: white;
}
#it-anchor:hover .rule {
  background-color: white;
}
#it-anchor:hover #info-icon2, #it-anchor:hover #read-more2 {
  background-color: white;
  color: #4183d7;
}
#it-anchor:hover .fa-desktop {
  color: #4183d7;
}

#marketing-anchor:hover .info-box {
  background-color: #2ecc71;
  color: white;
}
#marketing-anchor:hover .rule {
  background-color: white;
}
#marketing-anchor:hover #info-icon3, #marketing-anchor:hover #read-more3 {
  background-color: white;
  color: #2ecc71;
}
#marketing-anchor:hover .fa-chart-bar {
  color: #2ecc71;
}

#tele-anchor:hover .info-box {
  background-color: #D64541;
  color: white;
}
#tele-anchor:hover .rule {
  background-color: white;
}
#tele-anchor:hover #info-icon4, #tele-anchor:hover #read-more4 {
  background-color: white;
  color: #D64541;
}
#tele-anchor:hover .fa-phone {
  color: #D64541;
}

#cyber-anchor:hover .info-box {
  background-color: #F62459;
  color: white;
}
#cyber-anchor:hover .rule {
  background-color: white;
}
#cyber-anchor:hover #info-icon6, #cyber-anchor:hover #read-more6 {
  background-color: white;
  color: #F62459;
}
#cyber-anchor:hover .fa-shield-alt {
  color: #F62459;
}

.purple-anchor:hover .info-box {
  background-color: #926fb1;
  color: white;
}
.purple-anchor:hover .rule {
  background-color: white;
}
.purple-anchor:hover #info-icon5, .purple-anchor:hover #info-icon7,
.purple-anchor:hover #read-more5, .purple-anchor:hover #read-more7 {
  background-color: white;
  color: #926fb1;
}
.purple-anchor:hover .fa-code, .purple-anchor:hover .fa-graduation-cap {
  color: #926fb1;
}

.nm-info {
  font-family: poppins;
  /* background-image: url(img/about.png); */
  background-color: #333645;
  color: white;
  padding: 50px 15px;
}

.nm-info h1 {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.4px;
  margin-top: -6px;
  margin-bottom: 28px;
}

.nm-info p {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.4px;
}

strong {
  font-family: poppins-bold;
}

.culture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #333645;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 35px;
  letter-spacing: 0.4px;
  width: 180px;
  height: 50px;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 5px;
}

.span-n-line {
  font-family: poppins-bold;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.4;
  padding: 40px 15px;
}

.span {
  margin-bottom: 1000px;
}

.line {
  border: solid 2px;
  background-color: black;
  width: 65px;
  margin-left: 15px;
  margin-bottom: 0px;
  padding: 0;
}

/* News blocks */
.news {
  padding: 30px 0px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-container {
  max-width: 860px;
  font-family: poppins;
  letter-spacing: 0.4px;
  width: 100%;
  padding: 0px 15px;
}

.news-blocks {
  background-color: white;
  margin-bottom: 50px;
  width: 100%;
}

.news-image {
  height: auto;
  max-width: 100%;
  display: block;
}

.background1 {
  position: relative;
}

.news-tag {
  width: auto;
  height: auto;
  background-color: #4183d7;
  float: right;
  position: absolute;
  right: 0px;
  top: 15px;
  padding: 5px;
  color: white;
  font-family: poppins-bold;
  text-transform: uppercase;
}
.news-tag:hover {
  text-decoration: underline;
}

.info-date {
  border-left: solid 1px #DDD;
  border-bottom: solid 1px #DDD;
  border-right: solid 1px #DDD;
  padding: 30px;
}

.news-title {
  font-family: poppins-bold;
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.news-title:hover {
  text-decoration: underline;
}

#news-link-style-1 {
  color: #926fb1;
}

#news-link-style-2 {
  color: #2ecc71;
}

#news-link-style-3 {
  color: #4183d7;
}

.news-p {
  font-size: 13px;
  margin-bottom: 25px;
}

.read1,
.read2,
.read3 {
  width: 150px;
  align-self: border-left;
  margin-bottom: 30px;
}

.read-more:hover {
  filter: brightness(85%);
}

.news-footer {
  display: flex;
  border-top: 1px solid black;
  padding-top: 30px;
}

.mini-logo {
  object-fit: contain;
}

.news-foot-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-left: 25px;
}

.posted {
  flex-grow: 1;
  font-family: poppins-bold;
}

.break {
  flex-basis: 100%;
}

.date {
  flex-grow: 1;
}

.read1, #tag1 {
  background-color: #926fb1;
}

.read2, #tag2 {
  background-color: #2ecc71;
}

.read3, #tag3 {
  background-color: #4183d7;
}

.client-bar {
  padding: 50px 0;
  box-shadow: top;
  display: none;
}

.client-parent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.client-img {
  box-sizing: content-box;
  position: relative;
}

.bw-img {
  display: inline-block;
}

.colour-img {
  display: none;
}

.client-img:hover .bw-img {
  display: none;
}
.client-img:hover .colour-img {
  display: inline-block;
}
.client-img:hover .arrow-box {
  --scale: 1;
}
.client-img:hover .arrow {
  --scale: 1;
}

.arrow-box, .arrow {
  --scale: 0;
  --arrow-size: 30px;
  position: absolute;
  left: 50%;
  transform: translatex(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  top: -0.25rem;
}

.arrow-box {
  --translate-y: calc(-100% - var(--arrow-size));
  width: 260px;
  height: auto;
  padding: 20px;
  font-family: poppins;
  text-align: center;
  color: white;
  background: #333645;
}

.client-img h3 {
  letter-spacing: 0.4px;
  line-height: 20px;
  font-size: 18px;
}

.tt-line {
  border-bottom: white 3px solid;
  width: 28px;
  display: inline-block;
  margin: 10px 0;
}

.client-img p {
  line-height: 22px;
  letter-spacing: 0.4px;
  font-size: 13px;
}

.arrow {
  --translate-y: calc(-1 * var(--arrow-size));
  border: var(--arrow-size) solid transparent;
  border-top-color: #333645;
}

.sign-up {
  display: flex;
  justify-content: center;
  font-family: poppins;
  color: #333645;
  padding: 50px 30px;
  background-color: #DDD;
  letter-spacing: 0.4;
  font-size: 16px;
}

.input-header {
  line-height: 35.2px;
  font-size: 32px;
}

.input-head {
  margin-left: 15px;
}

.input-head,
.input-name,
.input-email {
  margin-bottom: 15px;
}

.input-name {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}

.input-email {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}

.input-label {
  margin: 0 15px 5px 15px;
}

.input-label::after {
  content: "*";
  color: red;
}

.input-field {
  width: 100%;
  height: 45px;
  border: #777;
  margin: 0 15px;
}

.form-group {
  margin: 0 15px;
}

.form-elements {
  display: flex;
  justify-content: border-left;
  font-weight: bold;
  line-height: 32px;
}

#privacy-link {
  color: #333645;
  text-decoration: underline;
}

.label {
  font-weight: bold;
  letter-spacing: 5;
  margin-bottom: 20px;
  margin-left: 20px;
}

.btn {
  margin: 0 15px;
  background-color: #333645;
  border: none;
  color: white;
  padding: 5px 15px;
}

.btn:hover {
  background-color: #22242E;
}

.footer-container {
  font-family: poppins;
  letter-spacing: 0.4;
  font-size: 13px;
  line-height: 22px;
  background-color: #333645;
  color: white;
  padding: 50px 0;
}

.footer-rows {
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.about-list {
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
  font-size: 13px;
}

.footer-title,
.address,
.contact-links,
.list-title,
.about-list,
.website-section__title,
.map-n-copy {
  margin-bottom: 26px;
  padding: 0 15px;
}

.social-title {
  padding: 0 15px;
}

.footer-title {
  font-size: 16px;
}

footer a {
  color: white;
}
footer a:hover {
  text-decoration: underline;
}

.social-links {
  font-size: 16px;
  text-transform: uppercase;
}

.social-row {
  align-content: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.social-a-container {
  width: 50%;
  box-sizing: border-box;
  padding: 0 15px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  margin-top: 30px;
  background-color: #262834;
  font-size: 1.75rem;
}

.soc-con-1:hover {
  background-color: #3b5988;
}

.soc-con-2:hover {
  background-color: #00aced;
}

.soc-con-3:hover {
  background-color: #0077b5;
}

.soc-con-4 {
  background-color: #333645;
}

.badge-bar {
  padding: 50px 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.badge-wrapper {
  width: 970px;
}

.badge-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.badge-img {
  height: auto;
  width: 100%;
  padding: 0 20px;
  flex-shrink: 2;
}
.badge-img .bw-img {
  display: inline-block;
}
.badge-img .colour-img {
  display: none;
}

.badge-img:hover .bw-img {
  display: none;
}
.badge-img:hover .colour-img {
  display: inline-block;
}

@media (min-width: 768px) {
  .client-parent-wrapper {
    display: flex;
    justify-content: center;
    width: 750px;
  }

  .client-bar {
    display: flex;
    justify-content: center;
  }

  .client-img {
    padding: 0 15px;
    min-width: 0;
  }

  .busseys {
    width: 121.6px;
  }

  .crane {
    width: 184.95px;
  }

  .beat {
    width: 46.39px;
  }

  .northern-d {
    width: 207.5px;
  }
}
@media (min-width: 768px) {
  .footer-rows {
    width: 750px;
    display: flex;
    flex-wrap: wrap;
  }

  .contact-about-row,
.website-social-row {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-about__child,
.website-social__child {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .badge-bar {
    display: flex;
  }

  .badge-wrapper {
    width: 750px;
  }

  .micrsoft {
    width: 87.56px;
    height: 53.3px;
  }

  .future {
    width: 33.5px;
    height: 53.3px;
  }

  .qms {
    width: 45.69;
    height: 53.3px;
  }

  .nfc {
    width: 133.25px;
    height: 53.3px;
  }

  .btm-badge-img {
    width: 200px;
  }
}
@media only screen and (max-width: 996px) {
  .nav-bar {
    display: none;
  }
}
@media (min-width: 992px) {
  .client-parent-wrapper {
    width: 970px;
  }

  .busseys {
    width: 168.75px;
  }

  .crane {
    width: 257.61px;
  }

  .beat {
    width: 64.63px;
  }

  .northern-d {
    width: 289.02px;
  }
}
@media (min-width: 992px) {
  .sign-up-section {
    background-color: #DDD;
    display: flex;
    justify-content: center;
  }

  .sign-up {
    width: 940px;
  }

  .input-name,
.input-email {
    width: 100%;
  }

  .input-field {
    width: 100%;
    height: 45px;
    border: #777;
    margin: 0 15px;
  }

  .input-container {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .footer-rows {
    width: 970px;
  }

  .contact-about__child,
.website-social__child {
    width: 50%;
  }
}
@media only screen and (min-width: 996px) {
  .badge-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .badge-parent {
    width: 970px;
  }

  .micrsoft {
    width: 140.2px;
    height: 85.33px;
  }

  .future {
    width: 69px;
    height: 110.09px;
  }

  .qms {
    width: 85.2px;
    height: 99.39px;
  }

  .nfc {
    width: 200.2px;
    height: 80.08px;
  }

  .btm-badge-img {
    width: 273.33px;
  }
}
@media (min-width: 1260px) {
  .client-parent-wrapper {
    width: 1200px;
  }

  .busseys,
.crane,
.beat,
.northern-d {
    width: auto;
  }
}
@media (min-width: 1250px) {
  .sign-up {
    width: 1170px;
  }
}
@media (min-width: 1260px) {
  .footer-rows {
    justify-content: center;
    width: 1200px;
  }

  .contact-about__child,
.website-social__child {
    width: 25%;
  }
}
@media (min-width: 1260px) {
  .badge-wrapper {
    width: 1200px;
    height: 166px;
    display: flex;
    justify-content: space-around;
  }

  .badge-img {
    display: flex;
    justify-content: space-around;
  }

  .micrsoft,
.future,
.qms,
.nfc,
.btm-badge-img {
    width: auto;
    height: auto;
  }
}