/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /CSS reset */

@font-face {
  font-family: poppins;
  src: url(fonts/poppins-v15-latin-regular.woff2);
}

@font-face {
	font-family: poppins-bold;
	src: url(fonts/poppins-v15-latin-600.woff2);
}

* {
  box-sizing: border-box;
}

/* Selectors */

h1 {
  text-transform: uppercase;
  font-size: 48px;
  margin: 0px 0px 25px;
}

h4 {
	margin-bottom: 25px;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  font-family: poppins;
	letter-spacing: 0.4;
  background-color: #333645;
  color: white;
  padding: 50px 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Class Selectors */

.logo {
	margin: 10px auto 10px 10px;
}

.phone-box {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 30px;
}

.phone-box img {
  /* makes the image wrap to the box size set in .phone box */
  width: 100%;
  height: auto;

}

.burger-box {
  background-color: black;
  border-radius: 3px;
  color: white;
  display: grid;
  justify-content: center;
  margin-right: 25px;
  width: 50px;
  height: 50px;
  margin-top: 19px;
}

.search {
  width: 99%;
  height: 47px;
  background-color: lightgrey;
  border: solid 2px darkgrey;
  margin-left: 5px;
}

  /* Carousel start */
.carousel {
  font-family: poppins;
  color: white;
  text-align: center;
  display: flex;
  height: 1020px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.text-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caro-p {
  margin: 0px 0px 35px;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.4px;
}

.caro-link {
  background-color: mediumpurple;
  text-transform: uppercase;
  margin: auto;
  width: 225px;
  padding: 20px;
  border-radius: 5px;
}

.fa-arrow-right {
	margin-right: -10px;
	margin-left: 8px;
	font-size: 1.2rem;
}

  /* /Carousel */

  /* Info Boxes */

.anchor-wrapper {
	  margin: 30px 0 0;
}

.info-boxes {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
	margin-bottom: 50px;
}

.info-anchor {
  flex: 1;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
	width: inherit;
	padding-left: 15px;
	padding-right: 15px;
}

.info-box {
  font-family: poppins;
  color: black;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 35px;
  border: 1px solid grey;
	width: auto;
  max-width: 720px;
  border-radius: 3px;
}

.info-icon {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%
  flex: 1;
  border-radius: 50%;
  margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
  flex: 1;
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-style: normal;
  font-size: 18px;
  line-height: 19.8px;
}

.break {
	width: 50px;
	fill: black;
	height: 1px;
}

.line {
	margin: 0px;
}

.text-span {
  text-align: center;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
  flex-basis: 100%;
}

.rule {
	background-color: black;
	width: 28px;
	height: 3px;
}

.read-more {
  flex: 0.2;
  flex-basis: 10%;
  height: 45px;
  border-radius: 4px;
  background-color: #926fb1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 35px;
  letter-spacing: 0.4;
  text-transform: uppercase;
  color: white;
}

.read-text {
	white-space: nowrap;
	padding: 15px;
}

.fa-chart-bar {
	color: white;
	font-size: 1.4rem;
}

.fa-phone {
	color: white;
	font-size: 1.3rem;
}

.fa-desktop {
	color: white;
	font-size: 1.4rem;
}

.fa-shield-alt {
	color: white;
	font-size: 1.3rem;
}

.fa-th {
	color: white;
	font-size: 1.2rem;
}

.fa-code {
	color: white;
	font-size: 1.4rem;
}

.fa-graduation-cap {
	color: white;
	font-size: 1.4rem;
}

/*
  Carousel/Info-box button palette:
    #926fb1 Web Design (developer Training)
    #4183d7 IT support
    #D64541 Telecoms Services
    #67809F Bespoke
    #2ECC71 Digital Marketing
    #F62459 Cyber Security
 */

#info-icon1, #read-more1 {
  background-color: #67809F;
}

#info-icon2, #read-more2{
  background-color: #4183d7;
}

#info-icon3, #read-more3 {
  background-color: #2ECC71;
}

#info-icon4, #read-more4 {
  background-color: #D64541;
}

#info-icon5, #read-more5 {
  background-color: #926fb1;
}

#info-icon6, #read-more6 {
  background-color: #F62459;
}

#info-icon7, #read-more7 {
  background-color: #926fb1;
}

  /* about section */

.nm-info {
	font-family: poppins;
  /* background-image: url(img/about.png); */
  background-color: #333645;
  color: white;
	padding: 50px 15px;
}

.nm-info h1 {
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0.4px;
	margin-top: -10px;
}

.nm-info p {
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.4px;

}

strong {
	font-family: poppins-bold;
}

.culture {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
  color: #333645;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 35px;
	letter-spacing: 0.4px;
	width: 180px;
	height: 50px;
  margin: 5px;
	padding: 5px 15px;
  border-radius: 5px;
}

/* News Section divider */


.span-n-line {
	font-family: poppins-bold;
	text-transform: uppercase;
	font-size: 1.25rem;
	letter-spacing: 0.4;
	padding: 40px 15px;
}

.span {
	margin-bottom: 1000px;
}

.line {
	border: solid 2px;
	background-color: black;
	width: 65px;
	margin-left: 15px;
	margin-bottom: 0px;
	padding: 0;
}

/* News blocks */


.news {
	padding: 50px 0px;
	background-color: #f3f3f3;
}

.card-container {
	display: flex;
}

.news-block {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: poppins;
	letter-spacing: 0.4px;
	width: 100%;

}

.news-blocks {
	background-color: white;
  margin-bottom: 50px;
	width: 100%;

}

/* .background-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height:
} */

.news-image {
	height: auto;
	max-width: 100%;
	display: block;
	border: red solid 5px;
}

.background1 {
	/* width: 100%;
	height: auto; */
	/* background-position: center;
	background-repeat: no-repeat;
	background-image: cover; */
}

.background2 {
	background-image: url(img/news/news-carbon.jpg);
	height: 200px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}

.background3 {
	background-image: url(img/news/news-how.jpg);
	height: 200px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}


.info-date {
	border-left: solid 1px grey;
	border-bottom: solid 1px grey;
	border-right: solid 1px grey;
	padding: 25px;
}



/* ID Selectors */

#header-flex {
  display: flex;
  justify-content: space-around;
}

#burger {
  grid-row-start: 1;
  grid-row-end: 1;
  filter: invert(100%);
  width: 50px;
}

/*
  Carousel/Info-box button palette:
    #926fb1 Web Design (developer Training)
    #4183d7 IT support
    #D64541 Telecoms Services
    #67809F Bespoke
    #2ECC71 Digital Marketing
    #F62459 Cyber Security
 */

#caro-link1 {
  background-color: #926fb1;
}

#caro-link2 {
  background-color: #4183d7;
}

#caro-link3{
  background-color: #D64541;
}
#caro-link4 {
  background-color: #67809F;
}

#caro-link5 {
  background-color: #2ECC71;
  width: 350px;
}

#caro-link6 {
  background-color: #F62459;
}

#caro1 {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/carousel/web-design.jpg);

}

#caro2 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/carousel/it-support.jpg);
}

#caro3 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/carousel/telecoms-services.jpg);
}

#caro4 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/carousel/bespoke-software.jpg);
}

#caro5 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/carousel/digital-marketing.jpg);
}

#caro6 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/carousel/cyber-security.jpg);
}

/* Combinant Selectors */
#caro1,
#caro2,
#caro3,
#caro4,
#caro5,
#caro6 {
  height: 1020px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 20px;
} */

/*
input[type=checkbox]:checked + .label:before {
    content: "\2713";
}

input[type=checkbox]:checked {
    display: none;
}

-moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;

     */
 /* ul, li {
         margin: 0;
         padding: 0;
         border: 0;
         outline: 0;
         font-weight: inherit;
         font-size: 100%;
         font-family: inherit;
         vertical-align: baseline;
     } */
/* css reset - user agent style stylesheet
