.nm-info {
	font-family: poppins;
  /* background-image: url(img/about.png); */
  background-color: #333645;
  color: white;
	padding: 50px 15px;
}

.nm-info h1 {
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0.4px;
	margin-top: -6px;
	margin-bottom: 28px;
}

.nm-info p {
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.4px;
}

strong {
	font-family: poppins-bold;
}

.culture {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
  color: #333645;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 35px;
	letter-spacing: 0.4px;
	width: 180px;
	height: 50px;
  margin: 5px;
	padding: 5px 15px;
  border-radius: 5px;
}
