@use 'abstracts' as *;

footer {
  font-family: poppins;
	letter-spacing: 0.4;
  font-size: 13px;
  line-height: 22px;
  background-color: $dark-bg;
  color: white;
  padding: 50px 0;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
  font-size: 13px;
}

.contact,
address,
.contact-links,
.list-title,
ul,
.website,
.map-n-copy,
.social-title,
{
  margin-bottom: 26px;
  padding: 0 15px;
}

.footer-title {
  font-size: 16px;
}

footer a {
  color: white;
  &:hover {
    text-decoration: underline;
  }
}

.social-links {
  font-size: 16px;
  text-transform: uppercase;
}

.social-boxes {
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-boxes a {
  width: 45%;
  margin: 0 8px;
}

.social-container {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  float: left;
  background-color: $box-col;
}

.soc-con-3 {
  margin-top: 30px;
}

.soc-con-1:hover {
  background-color: $fb-blue;
}

.soc-con-2:hover {
  background-color: $twitter-blue;
}

.soc-con-3:hover {
  background-color: $linked-in-blue;
}

.soc-con-4 {
  background-color: $dark-bg;
}
