// Variable Definitions:

$web-colour: #926fb1;
$it-colour: #4183d7;
$tele-colour: #D64541;
$bespoke-colour: #67809F;
$marketing-colour: #2ecc71;
$cyber-colour: #F62459;

//

.anchor-wrapper {
	  margin: 30px 0 0;
}

.info-boxes {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
	margin-bottom: 50px;
}

.info-anchor {
  flex: 1;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
	width: inherit;
	padding-left: 15px;
	padding-right: 15px;
}

.info-box {
  font-family: poppins;
  color: black;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 35px;
  border: 1px solid grey;
	width: auto;
  max-width: 720px;
  border-radius: 3px;
}

.info-icon {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
  flex: 1;
  flex-basis: 100%;
  margin-bottom: 15px;
	text-align: center;
  font-style: normal;
  font-size: 18px;
  line-height: 19.8px;
}

.break {
	width: 50px;
	fill: black;
	height: 1px;
}

.line {
	margin: 0px;
}

.text-span {
  text-align: center;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
  flex-basis: 100%;
}

.rule {
	background-color: black;
	width: 28px;
	height: 3px;
	margin-bottom: 10px;
}

.read-more {
  flex: 0.2;
  flex-basis: 10%;
  height: 45px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  line-height: 35px;
  letter-spacing: 0.4;
  text-transform: uppercase;
  color: white;
}

.anchor-wrapper .read-more:hover {
	filter: none;
}


.read-text {
	white-space: nowrap;
	padding: 15px;
}

.fa-chart-bar,
.fa-desktop,
.fa-code,
.fa-graduation-cap {
	color: white;
	font-size: 1.4rem;
}

.fa-phone,
.fa-shield-alt {
	color: white;
	font-size: 1.3rem;
}

.fa-th {
	color: white;
	font-size: 1.2rem;
}

#info-icon1, #read-more1 {
  background-color: $bespoke-colour;
}

#info-icon2, #read-more2{
  background-color: $it-colour;
}

#info-icon3, #read-more3 {
  background-color: $marketing-colour;
}

#info-icon4, #read-more4 {
  background-color: $tele-colour;
}

#info-icon5, #read-more5 {
  background-color: $web-colour;
}

#info-icon6, #read-more6 {
  background-color: $cyber-colour;
}

#info-icon7, #read-more7 {
  background-color: $web-colour;
}

#bespoke-anchor:hover {
	.info-box {
		background-color: $bespoke-colour;
		color: white;
	}
	.rule {background-color: white;}
	#info-icon1, #read-more1 {
		background-color: white;
		color: $bespoke-colour;
	}
	.fa-th {
		color: $bespoke-colour;
	}
}

#it-anchor:hover {
	.info-box {
		background-color: $it-colour;
		color: white;
	}
	.rule {background-color: white;}
	#info-icon2, #read-more2 {
		background-color: white;
		color: $it-colour;
	}
	.fa-desktop {
		color: $it-colour;
	}
}

#marketing-anchor:hover {
	.info-box {
		background-color: $marketing-colour;
		color: white;
	}
	.rule {background-color: white;}
	#info-icon3, #read-more3 {
		background-color: white;
		color: $marketing-colour;
	}
	.fa-chart-bar {
		color: $marketing-colour;
	}
}

#tele-anchor:hover {
	.info-box {
		background-color: $tele-colour;
		color: white;
	}
	.rule {background-color: white;}
	#info-icon4, #read-more4 {
		background-color: white;
		color: $tele-colour;
	}
	.fa-phone {
		color: $tele-colour;
	}
}

#cyber-anchor:hover {
	.info-box {
		background-color: $cyber-colour;
		color: white;
	}
	.rule {background-color: white;}
	#info-icon6, #read-more6 {
		background-color: white;
		color: $cyber-colour;
	}
	.fa-shield-alt {
		color: $cyber-colour;
	}
}

.purple-anchor:hover {
	.info-box {
		background-color: $web-colour;
		color: white;
	}
	.rule {background-color: white;}
	#info-icon5, #info-icon7,
	#read-more5, #read-more7 {
		background-color: white;
		color: $web-colour;
	}
	.fa-code, .fa-graduation-cap {
		color: $web-colour;
	}
}
