@use "../abstracts" as *;

.nav-bar {
  display:          none;
  align-items:      center;
  justify-content:  center;
  background-color: $dark-bg;
  position:         relative;
  height:           99px;
}

.bar-wrapper {
  display:     flex;
  align-items: flex-start;
  font-family: poppins;
}

.child-wrapper {
  display:         flex;
  justify-content: center;
  align-items:     center;
  width:           100%;
}

.bar-child {
  display:        flex;
  align-items:    center;
  flex-direction: column;
  height:         99px;
  border-right:   0.5px solid #666;
  border-left:    0.5px solid  black;
  color:          white;
  padding:        19px 0;
  width:          154.33px;
}

.bar-icon {
  margin-bottom: 10px;
}

.left-child {
  height:       99px;
  border-right: 0.5px solid #666;
}

.right-child {
  height:       99px;
  border-right: 0.5px solid black;
}

.table {
  display: table;
  margin:  0 auto;
  width:   100vw;
}

.bar-tt {
  position: absolute;
  top:      100%;
  left:     0%;
  z-index:  10;
}

.horizontal-list{
  display:        none;
  list-style:     none;
  text-transform: uppercase;
  & li {
    display:        inline;
    font-size:      13px;
    line-height:    45px;
    letter-spacing: 0.4;

  }
}

.sml-txt, .lrg-txt {
  text-transform: uppercase;
  letter-spacing: 0.4px;
  line-height:    18px;
}

.sml-txt {
  font-size: 10px;
  line-height: 1;
}

.lrg-txt {
  font-size: 18px;
}

// These can probably be done with mixins, but couldn't figure out how to
// implement one with so many differing variables.

#web-bar-anchor:hover {
	.bar-child {
		background-color: $web-col;
	}
	#web-icon {
		color: white;
	}
  #web-list {
    display: block;
    align-items: center;
    width: 100%;
    background-color: $web-col-drk;
    text-align: center;
  }
}

#it-bar-anchor:hover {
	.bar-child {
		background-color: $it-col;
	}
	#it-icon {
		color: white;
	}
  #it-list {
    display: block;
    align-items: center;
    width: 100%;
    background-color: $it-col-drk;
    text-align: center;
  }
}

#tele-bar-anchor:hover {
	.bar-child {
		background-color: $tele-col;
	}
	#tele-icon {
		color: white;
	}
  #tele-list {
    display: block;
    align-items: center;
    width: 100%;
    background-color: $tele-col-drk;
    text-align: center;
  }
}

#bespoke-bar-anchor:hover {
	.bar-child {
		background-color: $bespoke-col;
	}
	#bespoke-icon {
		color: white;
	}
  #bespoke-list {
    display: block;
    align-items: center;
    width: 100%;
    background-color: $bespoke-col-drk;
    text-align: center;
  }
}

#cyber-bar-anchor:hover {
	.bar-child {
		background-color: $cyber-col;
	}
	#cyber-icon {
		color: white;
	}
  #cyber-list {
    display: block;
    align-items: center;
    width: 100%;
    background-color: $cyber-col-drk;
    text-align: center;
  }
}

#digi-bar-anchor:hover {
	.bar-child {
		background-color: $marketing-col;
	}
	#digi-icon {
		color: white;
	}
  #digi-list {
    display: block;
    align-items: center;
    width: 100%;
    background-color: $marketing-col-drk;
    text-align: center;
  }
}

#web-icon {
  color: $web-col;
}

#it-icon {
  color: $it-col;
}

#tele-icon {
  color: $tele-col;
}

#bespoke-icon {
  color:$bespoke-col;
}

#digi-icon {
  color: $marketing-col;
}

#cyber-icon {
  color: $cyber-col;
}
