.sign-up {
  display: flex;
  font-family: poppins;
  color: #333645;
  padding: 50px 30px;
  background-color: #DDD;
  letter-spacing: 0.4;
  font-size: 16px;
}

.input-header {
  line-height: 35.2px;
  font-size: 32px;
  margin-bottom: 15px;
}

.input-head {
}

.input-header,
.input-name,
.input-email {
  margin-bottom: 15px;
}

.input-name {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}

.input-email {
  font-weight: bold;
}

input-label {
  margin-bottom: 5px;
}

.input-label::after {
  content:'*' ;
  color: red;
}

.input-field {
  width: 100%;
  height: 45px;
  border: #777;
}

.form-elements {
  display: flex;
  justify-content: border-left;
  font-weight: bold;
  line-height: 32px;
}

.label {
  font-weight: bold;
  letter-spacing: 5;
  margin-bottom: 20px;
  margin-left: 20px;
}

.btn {
  background-color: #333645;
  border: none;
  color: white;
  padding: 5px 15px;
}

.btn:hover {
  background-color: #22242E;
}

// [type="checkbox"] {
//   opacity: 1;
// }
//
// [type="checkbox"] + label {
//   position: relative;
//   padding-left: 10px;
//   cursor: pointer;
//   display: inline-block;
//
// }
//
// [type="checkbox"] + label::before {
//   content: "";
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 18px;
//   height: 18px;
//   outline: 2px solid #aaa;
//
// }
